@import 'compass';


@mixin powermail_horizontal ($width, $direction: left){

	.powermail_fieldwrap {
		@include pie-clearfix;
		padding-left: $width;

		> fieldset {
			display: block;
			margin: 0;
			padding: 0;
			border: none;
		}
		> fieldset > .powermail_label,
		> .powermail_label {
			float: $direction;
			position: relative;
			@if unit($width) == "%" {
				margin-left: -(100% / (100% - $width) * $width);
				width: (100% / (100% - $width) * $width);
			} @else {
				margin-left: -$width;
				width: $width;
			}

		}

		> .powermail_field {
			display: block;
			width: 100%;
		}
		> .powermail_reset,
		> .powermail_submit {
			display: inline-block;
			width: auto;
		}
	}

}