@import 'compass';

@mixin powermail_vertical (){

	.powermail_fieldwrap {

		> fieldset {
			display: block;
			margin: 0;
			padding: 0;
			border: none;
		}
		> fieldset > .powermail_label,
		> .powermail_label {
			display: block;

		}

		> .powermail_field {
			display: block;
			width: 100%;
		}
		> .powermail_reset,
		> .powermail_submit {
			display: inline-block;
			width: auto;
		}
	}

}