@import 'compass';

@mixin powermail_inline ($direction: left){

	.powermail_fieldwrap {
		display: inline-block;
		vertical-align: top;
		> fieldset {
			display: block;
			margin: 0;
			padding: 0;
			border: none;
		}
		> .powermail_label {
			// @include squish-text();
			display: inline-block;
		}

		> fieldset > .powermail_label,{
			float: left;
			margin-right: 1em;
			+ div {
				display: inline-block;
			}
		}

		+ .powermail_fieldwrap {
			margin-left: 10px;
		}

		// > .powermail_field {
		// 	display: block;
		// 	width: 100%;
		// }
		// > .powermail_submit {
		// 	width: auto;
		// }
	}

}