@import 'compass';
@import 'horizontal';
@import 'vertical';
@import 'inline';

$label-width: 25%;
$screen-sm-min:                  768px !default;

// $greySoft1: #EEEEEE;
// $greySoft2: #BBBBBB;
// $greySoft3: #AAAAAA;
// $grey1: #444444;
// $blue1: #1E5799;
// $orange1: #FCF8E3;
// $orange2: #FAEBCC;
// $orange3: #FFCA4B;
// $red1: #F2DEDE;
// $red2: #EBCCD1;
// $red3: #A94442;
// $green1: #CDEACA;
// $green2: #58B548;
// $green3: #3B7826;


// @import 'DatePicker';

// =============================================================================
// Normalize
// =============================================================================

.tx-powermail * {
	@include box-sizing(border-box);

	legend {
		padding: 0;
	}
}

// =============================================================================
// Layouts
// =============================================================================

.powermail_horizontal {
	@include powermail_vertical();
	@media (min-width: $screen-sm-min) {
		@include powermail_horizontal($label-width);
	}
}

.powermail_vertical {
	@include powermail_vertical();
}

.powermail_inline {
	@include powermail_inline();
}


// =============================================================================
// Fields
// =============================================================================

.powermail_check_inline .powermail_check_inner,
.powermail_radio_inline .powermail_radio_inner {
	@include inline-block(top);
	padding-left: 20px;
	> input {
		position: absolute;
		margin-left: -20px;
	}
}
.powermail_check_inline .powermail_check_inner + .powermail_check_inner,
.powermail_radio_inline .powermail_radio_inner + .powermail_radio_inner {
	margin-left: 20px;
}


.powermail_nolabel {
	.powermail_label {
		@include squish-text();
	}
}

// =============================================================================
// Errors
// =============================================================================

.parsley-errors-list {
	display: none;
	margin: 0.5em 0;
	&.filled {
		display: block;
	}
}