////
/// Powermail layouts
///
/// @author R3 H6
/// @group partial
////

////
/// Powermail layouts
///
/// @author R3 H6
/// @group partial
////

@import '../mixins/layouts';

/// Label width for horizontal forms.
///
/// @access public
/// @type percent|pixel|em|rem
$label-width  : 33.333%;

/// Breakpoint for horizontal forms.
///
/// @access public
/// @type pixel|em
$screen-sm-min: 768px !default;

/// ============================================================================
/// Layouts
/// ============================================================================

.powermail_horizontal {
    @include powermail_vertical();
    @media (min-width: $screen-sm-min) {
        @include powermail_horizontal($label-width);
    }
}

.powermail_vertical {
    @include powermail_vertical();
}

.powermail_inline {
    @include powermail_inline();
}

/// ============================================================================
/// Fields
/// ============================================================================


@include powermail_fieldwrap_buttons();

.powermail_fieldwrap_inline {
    @include powermail_fieldwrap_inline();
}

.powermail_nolabel {
    .powermail_label {
        @include squish-text();
    }
}

.powermail_captcha_outer {
    > img {
        vertical-align: top;
    }
}

/// ============================================================================
/// Errors
/// ============================================================================

@include powermail_parsley_errors();

/// ============================================================================
/// Normalize
/// ============================================================================

.tx-powermail {
    * {
        @include box-sizing(border-box);
    }

    legend {
        padding: 0;
    }
}
.powermail_fieldwrap {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}