// =============================================================================
// Errors
// =============================================================================

.parsley-errors-list {
	display: none;
	margin: 0.5em 0;
	&.filled {
		display: block;
	}
}