/* line 9, ../../Private/Sass/all.scss */
.tx-powermail * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../../Private/Sass/_horizontal.scss */
.powermail_horizontal .powermail_fieldwrap {
  *zoom: 1;
  padding-left: 20%;
}
/* line 38, ../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.powermail_horizontal .powermail_fieldwrap:after {
  content: "";
  display: table;
  clear: both;
}
/* line 9, ../../Private/Sass/_horizontal.scss */
.powermail_horizontal .powermail_fieldwrap > fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 15, ../../Private/Sass/_horizontal.scss */
.powermail_horizontal .powermail_fieldwrap > fieldset > .powermail_label,
.powermail_horizontal .powermail_fieldwrap > .powermail_label {
  width: 20%;
  float: left;
  position: relative;
  margin-left: -25%;
}
/* line 28, ../../Private/Sass/_horizontal.scss */
.powermail_horizontal .powermail_fieldwrap > .powermail_field {
  display: block;
  width: 100%;
}
/* line 32, ../../Private/Sass/_horizontal.scss */
.powermail_horizontal .powermail_fieldwrap > .powermail_submit {
  width: auto;
}

/* line 7, ../../Private/Sass/_vertical.scss */
.powermail_vertical .powermail_fieldwrap > fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 13, ../../Private/Sass/_vertical.scss */
.powermail_vertical .powermail_fieldwrap > fieldset > .powermail_label,
.powermail_vertical .powermail_fieldwrap > .powermail_label {
  display: block;
}
/* line 19, ../../Private/Sass/_vertical.scss */
.powermail_vertical .powermail_fieldwrap > .powermail_field {
  display: block;
  width: 100%;
}
/* line 23, ../../Private/Sass/_vertical.scss */
.powermail_vertical .powermail_fieldwrap > .powermail_submit {
  width: auto;
}

/* line 7, ../../Private/Sass/_compact.scss */
.powermail_compact .powermail_fieldwrap > fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 13, ../../Private/Sass/_compact.scss */
.powermail_compact .powermail_fieldwrap > fieldset > .powermail_label,
.powermail_compact .powermail_fieldwrap > .powermail_label {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
/* line 19, ../../Private/Sass/_compact.scss */
.powermail_compact .powermail_fieldwrap > .powermail_field {
  display: block;
  width: 100%;
}
/* line 23, ../../Private/Sass/_compact.scss */
.powermail_compact .powermail_fieldwrap > .powermail_submit {
  width: auto;
}

/* line 28, ../../Private/Sass/all.scss */
.powermail_radio_inline .powermail_radio_outer .powermail_radio_inner {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-left: 20px;
}
/* line 31, ../../Private/Sass/all.scss */
.powermail_radio_inline .powermail_radio_outer .powermail_radio_inner > input {
  position: absolute;
  margin-left: -20px;
}
/* line 35, ../../Private/Sass/all.scss */
.powermail_radio_inline .powermail_radio_outer .powermail_radio_inner + .powermail_radio_inner {
  margin-left: 20px;
}

/* line 43, ../../Private/Sass/all.scss */
.powermail_check_nolabel > fieldset > legend {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
