/* line 31, ../../Private/Sass/all.scss */
.tx-powermail * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 34, ../../Private/Sass/all.scss */
.tx-powermail * legend {
  padding: 0;
}

/* line 7, ../../Private/Sass/_vertical.scss */
.powermail_horizontal .powermail_fieldwrap > fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 13, ../../Private/Sass/_vertical.scss */
.powermail_horizontal .powermail_fieldwrap > fieldset > .powermail_label,
.powermail_horizontal .powermail_fieldwrap > .powermail_label {
  display: block;
}
/* line 19, ../../Private/Sass/_vertical.scss */
.powermail_horizontal .powermail_fieldwrap > .powermail_field {
  display: block;
  width: 100%;
}
/* line 23, ../../Private/Sass/_vertical.scss */
.powermail_horizontal .powermail_fieldwrap > .powermail_reset,
.powermail_horizontal .powermail_fieldwrap > .powermail_submit {
  display: inline-block;
  width: auto;
}
@media (min-width: 768px) {
  /* line 5, ../../Private/Sass/_horizontal.scss */
  .powermail_horizontal .powermail_fieldwrap {
    *zoom: 1;
    padding-left: 25%;
  }
  /* line 38, ../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .powermail_horizontal .powermail_fieldwrap:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 9, ../../Private/Sass/_horizontal.scss */
  .powermail_horizontal .powermail_fieldwrap > fieldset {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
  }
  /* line 15, ../../Private/Sass/_horizontal.scss */
  .powermail_horizontal .powermail_fieldwrap > fieldset > .powermail_label,
  .powermail_horizontal .powermail_fieldwrap > .powermail_label {
    float: left;
    position: relative;
    margin-left: -33.33333%;
    width: 33.33333%;
  }
  /* line 29, ../../Private/Sass/_horizontal.scss */
  .powermail_horizontal .powermail_fieldwrap > .powermail_field {
    display: block;
    width: 100%;
  }
  /* line 33, ../../Private/Sass/_horizontal.scss */
  .powermail_horizontal .powermail_fieldwrap > .powermail_reset,
  .powermail_horizontal .powermail_fieldwrap > .powermail_submit {
    display: inline-block;
    width: auto;
  }
}

/* line 7, ../../Private/Sass/_vertical.scss */
.powermail_vertical .powermail_fieldwrap > fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 13, ../../Private/Sass/_vertical.scss */
.powermail_vertical .powermail_fieldwrap > fieldset > .powermail_label,
.powermail_vertical .powermail_fieldwrap > .powermail_label {
  display: block;
}
/* line 19, ../../Private/Sass/_vertical.scss */
.powermail_vertical .powermail_fieldwrap > .powermail_field {
  display: block;
  width: 100%;
}
/* line 23, ../../Private/Sass/_vertical.scss */
.powermail_vertical .powermail_fieldwrap > .powermail_reset,
.powermail_vertical .powermail_fieldwrap > .powermail_submit {
  display: inline-block;
  width: auto;
}

/* line 5, ../../Private/Sass/_inline.scss */
.powermail_inline .powermail_fieldwrap {
  display: inline-block;
  vertical-align: top;
}
/* line 8, ../../Private/Sass/_inline.scss */
.powermail_inline .powermail_fieldwrap > fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 14, ../../Private/Sass/_inline.scss */
.powermail_inline .powermail_fieldwrap > .powermail_label {
  display: inline-block;
}
/* line 19, ../../Private/Sass/_inline.scss */
.powermail_inline .powermail_fieldwrap > fieldset > .powermail_label {
  float: left;
  margin-right: 1em;
}
/* line 22, ../../Private/Sass/_inline.scss */
.powermail_inline .powermail_fieldwrap > fieldset > .powermail_label + div {
  display: inline-block;
}
/* line 27, ../../Private/Sass/_inline.scss */
.powermail_inline .powermail_fieldwrap + .powermail_fieldwrap {
  margin-left: 10px;
}

/* line 63, ../../Private/Sass/all.scss */
.powermail_check_inline .powermail_check_inner,
.powermail_radio_inline .powermail_radio_inner {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-left: 20px;
}
/* line 67, ../../Private/Sass/all.scss */
.powermail_check_inline .powermail_check_inner > input,
.powermail_radio_inline .powermail_radio_inner > input {
  position: absolute;
  margin-left: -20px;
}

/* line 72, ../../Private/Sass/all.scss */
.powermail_check_inline .powermail_check_inner + .powermail_check_inner,
.powermail_radio_inline .powermail_radio_inner + .powermail_radio_inner {
  margin-left: 20px;
}

/* line 79, ../../Private/Sass/all.scss */
.powermail_nolabel .powermail_label {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

/* line 88, ../../Private/Sass/all.scss */
.parsley-errors-list {
  display: none;
  margin: 0.5em 0;
}
/* line 91, ../../Private/Sass/all.scss */
.parsley-errors-list.filled {
  display: block;
}
